<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Trabajo Practico 3</title>
    </head>
    <body>
        <header>
            <h1>Programacion visual</h1>
        </header>
        <nav>
            <ul>
				<img src="../static/img/unjuvirtual_32_plataforma.png">
                <li><a href="https://virtual.unju.edu.ar/course/view.php?id=2540">Programacion Visual</a></li>
            </ul>
        </nav>

        <main>

            <section>
                <h2>Semana 2</h2>
                <ul>
                    <li>Sobrecarga - Excepciones</li>
                    <li>Conversión de tipos de datos</li>
                    <li>Fechas en Java</li>
                </ul>
                <table>
                    <tr>
                        <th>Sobrecarga - Excepciones</th>
                        <th>Conversion de tipos de datos</th>
                        <th>Fechas en Java</th>
                    </tr>
                    <tr>
                        <td>Tratar errores</td>

                        <td>Tipos de datos</td>

                        <td>Fechas en java</td>
                    </tr>

                    <tr>
                        <td>Excepciones</td>
                        <td>Wrapper</td>
                        <td>Calendar</td>
                    </tr>
                </table>
            </section>

            <section>
                <h2>Semana 3</h2>
                <ol>
                    <li>Matrices</li>
                    <li>Interfaces</li>
                    <li>Arraylist</li>
                </ol>
                <table>
                    <tr>
                        <th>Matrices</th>
                        <th>Interfaces</th>
                        <th>Arraylist</th>
                    </tr>

                    <tr>
                        <td>Agrupar datos</td>

                        <td>Abstraccion</td>

                        <td>Dinamicidad</td>
                    </tr>
                </table>
            </section>

            <section>
                <h2>Semana 4</h2>
                <ul>
                    <li>Interfaces funcionales</li>
                    <li>Enumerados</li>
                </ul>
                <table>
                    <tr>
                        <th>Interfaces funcionales</th>
                        <th>Enumerados</th>
                    </tr>

                    <tr>
                        <td>Unico metodo</td>
                        <td>Conjunto de valores</td>
                    </tr>
                </table>
            </section>
        </main>
    </body>
</html>